# Idea Module files
.idea/
*.iml

# Maven target directories.
*/target/*
target
*/build/*
*/dist/*
.DS_Store
bin
classes
log
target
version.txt
*index

.classpath
*/.classpath
.DS_Store
.metadata
.myeclipse
.mymetadata
*/.project
.settings
.svn
.bak
*.war
*.jar
*.pyc
